html,
body {
  min-height: 100%;
  min-width: 100%;
}

body {
  margin: auto;
  /* height: 100vh; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  background-image: url(./components/img/meal2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
}
/* changes */

.my_menu_card {
  display: flex;
  align-items: center;
  justify-content: center;
}
